
_z_refs/회의록/1회차_250917.md
_z_refs/회의록/2회차_251001.md
_z_refs/todos.md
implementation/api/__pycache__/*
implementation/api/app/__pycache__/*
implementation/api/app/models/*
implementation/api/app/routers/*
implementation/api/app/schemas/*
implementation/api/app/services/*
implementation/data/mysql/*
implementation/data/mysql/#ib_16384_0.dblwr
implementation/data/mysql/#ib_16384_1.dblwr
implementation/data/mysql/auto.cnf
implementation/data/mysql/binlog.000001
implementation/data/mysql/binlog.000002
implementation/data/mysql/binlog.index
implementation/data/mysql/ca-key.pem
implementation/data/mysql/ca.pem
implementation/data/mysql/client-cert.pem
implementation/data/mysql/client-key.pem
implementation/data/mysql/ib_buffer_pool
implementation/data/mysql/ibdata1
implementation/data/mysql/mysql.ibd
implementation/data/mysql/mysql.sock
implementation/data/mysql/private_key.pem
implementation/data/mysql/public_key.pem
implementation/data/mysql/server-cert.pem
implementation/data/mysql/server-key.pem
implementation/data/mysql/undo_001
implementation/data/mysql/undo_002
implementation/data/mysql/#innodb_redo/#ib_redo9
implementation/data/mysql/#innodb_redo/#ib_redo10_tmp
implementation/data/mysql/#innodb_redo/#ib_redo11_tmp
implementation/data/mysql/#innodb_redo/#ib_redo12_tmp
implementation/data/mysql/#innodb_redo/#ib_redo13_tmp
implementation/data/mysql/#innodb_redo/#ib_redo14_tmp
implementation/data/mysql/#innodb_redo/#ib_redo15_tmp
implementation/data/mysql/#innodb_redo/#ib_redo16_tmp
implementation/data/mysql/#innodb_redo/#ib_redo17_tmp
implementation/data/mysql/#innodb_redo/#ib_redo18_tmp
implementation/data/mysql/#innodb_redo/#ib_redo19_tmp
implementation/data/mysql/#innodb_redo/#ib_redo20_tmp
implementation/data/mysql/#innodb_redo/#ib_redo21_tmp
implementation/data/mysql/#innodb_redo/#ib_redo22_tmp
implementation/data/mysql/#innodb_redo/#ib_redo23_tmp
implementation/data/mysql/#innodb_redo/#ib_redo24_tmp
implementation/data/mysql/#innodb_redo/#ib_redo25_tmp
implementation/data/mysql/#innodb_redo/#ib_redo26_tmp
implementation/data/mysql/#innodb_redo/#ib_redo27_tmp
implementation/data/mysql/#innodb_redo/#ib_redo28_tmp
implementation/data/mysql/#innodb_redo/#ib_redo29_tmp
implementation/data/mysql/#innodb_redo/#ib_redo30_tmp
implementation/data/mysql/#innodb_redo/#ib_redo31_tmp
implementation/data/mysql/#innodb_redo/#ib_redo32_tmp
implementation/data/mysql/#innodb_redo/#ib_redo33_tmp
implementation/data/mysql/#innodb_redo/#ib_redo34_tmp
implementation/data/mysql/#innodb_redo/#ib_redo35_tmp
implementation/data/mysql/#innodb_redo/#ib_redo36_tmp
implementation/data/mysql/#innodb_redo/#ib_redo37_tmp
implementation/data/mysql/#innodb_redo/#ib_redo38_tmp
implementation/data/mysql/#innodb_redo/#ib_redo39_tmp
implementation/data/mysql/#innodb_redo/#ib_redo40_tmp
implementation/data/mysql/ajin_rfid/assembly_components.ibd
implementation/data/mysql/ajin_rfid/assembly_lots.ibd
implementation/data/mysql/ajin_rfid/lots.ibd
implementation/data/mysql/ajin_rfid/pallet_histories.ibd
implementation/data/mysql/ajin_rfid/pallets.ibd
implementation/data/mysql/ajin_rfid/parts.ibd
implementation/data/mysql/ajin_rfid/processes.ibd
implementation/data/mysql/ajin_rfid/raw_materials.ibd
implementation/data/mysql/ajin_rfid/rfid_reader_locations.ibd
implementation/data/mysql/ajin_rfid/rfid_tags.ibd
implementation/data/mysql/mysql/general_log_213.sdi
implementation/data/mysql/mysql/general_log.CSM
implementation/data/mysql/mysql/general_log.CSV
implementation/data/mysql/mysql/slow_log_214.sdi
implementation/data/mysql/mysql/slow_log.CSM
implementation/data/mysql/mysql/slow_log.CSV
implementation/data/mysql/performance_schema/accounts_145.sdi
implementation/data/mysql/performance_schema/binary_log_trans_189.sdi
implementation/data/mysql/performance_schema/cond_instances_82.sdi
implementation/data/mysql/performance_schema/data_lock_waits_161.sdi
implementation/data/mysql/performance_schema/data_locks_160.sdi
implementation/data/mysql/performance_schema/error_log_83.sdi
implementation/data/mysql/performance_schema/events_errors_su_139.sdi
implementation/data/mysql/performance_schema/events_errors_su_140.sdi
implementation/data/mysql/performance_schema/events_errors_su_141.sdi
implementation/data/mysql/performance_schema/events_errors_su_142.sdi
implementation/data/mysql/performance_schema/events_errors_su_143.sdi
implementation/data/mysql/performance_schema/events_stages_cu_111.sdi
implementation/data/mysql/performance_schema/events_stages_hi_112.sdi
implementation/data/mysql/performance_schema/events_stages_hi_113.sdi
implementation/data/mysql/performance_schema/events_stages_su_114.sdi
implementation/data/mysql/performance_schema/events_stages_su_115.sdi
implementation/data/mysql/performance_schema/events_stages_su_116.sdi
implementation/data/mysql/performance_schema/events_stages_su_117.sdi
implementation/data/mysql/performance_schema/events_stages_su_118.sdi
implementation/data/mysql/performance_schema/events_statement_119.sdi
implementation/data/mysql/performance_schema/events_statement_120.sdi
implementation/data/mysql/performance_schema/events_statement_121.sdi
implementation/data/mysql/performance_schema/events_statement_122.sdi
implementation/data/mysql/performance_schema/events_statement_123.sdi
implementation/data/mysql/performance_schema/events_statement_124.sdi
implementation/data/mysql/performance_schema/events_statement_125.sdi
implementation/data/mysql/performance_schema/events_statement_126.sdi
implementation/data/mysql/performance_schema/events_statement_127.sdi
implementation/data/mysql/performance_schema/events_statement_128.sdi
implementation/data/mysql/performance_schema/events_statement_129.sdi
implementation/data/mysql/performance_schema/events_statement_130.sdi
implementation/data/mysql/performance_schema/events_transacti_131.sdi
implementation/data/mysql/performance_schema/events_transacti_132.sdi
implementation/data/mysql/performance_schema/events_transacti_133.sdi
implementation/data/mysql/performance_schema/events_transacti_134.sdi
implementation/data/mysql/performance_schema/events_transacti_135.sdi
implementation/data/mysql/performance_schema/events_transacti_136.sdi
implementation/data/mysql/performance_schema/events_transacti_137.sdi
implementation/data/mysql/performance_schema/events_transacti_138.sdi
implementation/data/mysql/performance_schema/events_waits_cur_84.sdi
implementation/data/mysql/performance_schema/events_waits_his_85.sdi
implementation/data/mysql/performance_schema/events_waits_his_86.sdi
implementation/data/mysql/performance_schema/events_waits_sum_87.sdi
implementation/data/mysql/performance_schema/events_waits_sum_88.sdi
implementation/data/mysql/performance_schema/events_waits_sum_89.sdi
implementation/data/mysql/performance_schema/events_waits_sum_90.sdi
implementation/data/mysql/performance_schema/events_waits_sum_91.sdi
implementation/data/mysql/performance_schema/events_waits_sum_92.sdi
implementation/data/mysql/performance_schema/file_instances_93.sdi
implementation/data/mysql/performance_schema/file_summary_by__94.sdi
implementation/data/mysql/performance_schema/file_summary_by__95.sdi
implementation/data/mysql/performance_schema/global_status_181.sdi
implementation/data/mysql/performance_schema/global_variables_184.sdi
implementation/data/mysql/performance_schema/host_cache_96.sdi
implementation/data/mysql/performance_schema/hosts_146.sdi
implementation/data/mysql/performance_schema/keyring_componen_191.sdi
implementation/data/mysql/performance_schema/keyring_keys_152.sdi
implementation/data/mysql/performance_schema/log_status_174.sdi
implementation/data/mysql/performance_schema/memory_summary_b_154.sdi
implementation/data/mysql/performance_schema/memory_summary_b_155.sdi
implementation/data/mysql/performance_schema/memory_summary_b_156.sdi
implementation/data/mysql/performance_schema/memory_summary_b_157.sdi
implementation/data/mysql/performance_schema/memory_summary_g_153.sdi
implementation/data/mysql/performance_schema/metadata_locks_159.sdi
implementation/data/mysql/performance_schema/mutex_instances_97.sdi
implementation/data/mysql/performance_schema/objects_summary__98.sdi
implementation/data/mysql/performance_schema/performance_time_99.sdi
implementation/data/mysql/performance_schema/persisted_variab_187.sdi
implementation/data/mysql/performance_schema/prepared_stateme_175.sdi
implementation/data/mysql/performance_schema/processlist_100.sdi
implementation/data/mysql/performance_schema/replication_appl_165.sdi
implementation/data/mysql/performance_schema/replication_appl_166.sdi
implementation/data/mysql/performance_schema/replication_appl_167.sdi
implementation/data/mysql/performance_schema/replication_appl_168.sdi
implementation/data/mysql/performance_schema/replication_appl_170.sdi
implementation/data/mysql/performance_schema/replication_appl_171.sdi
implementation/data/mysql/performance_schema/replication_asyn_172.sdi
implementation/data/mysql/performance_schema/replication_asyn_173.sdi
implementation/data/mysql/performance_schema/replication_conn_162.sdi
implementation/data/mysql/performance_schema/replication_conn_164.sdi
implementation/data/mysql/performance_schema/replication_grou_163.sdi
implementation/data/mysql/performance_schema/replication_grou_169.sdi
implementation/data/mysql/performance_schema/rwlock_instances_101.sdi
implementation/data/mysql/performance_schema/session_account__151.sdi
implementation/data/mysql/performance_schema/session_connect__150.sdi
implementation/data/mysql/performance_schema/session_status_182.sdi
implementation/data/mysql/performance_schema/session_variable_185.sdi
implementation/data/mysql/performance_schema/setup_actors_102.sdi
implementation/data/mysql/performance_schema/setup_consumers_103.sdi
implementation/data/mysql/performance_schema/setup_instrument_104.sdi
implementation/data/mysql/performance_schema/setup_objects_105.sdi
implementation/data/mysql/performance_schema/setup_threads_106.sdi
implementation/data/mysql/performance_schema/socket_instances_147.sdi
implementation/data/mysql/performance_schema/socket_summary_b_148.sdi
implementation/data/mysql/performance_schema/socket_summary_b_149.sdi
implementation/data/mysql/performance_schema/status_by_accoun_177.sdi
implementation/data/mysql/performance_schema/status_by_host_178.sdi
implementation/data/mysql/performance_schema/status_by_thread_179.sdi
implementation/data/mysql/performance_schema/status_by_user_180.sdi
implementation/data/mysql/performance_schema/table_handles_158.sdi
implementation/data/mysql/performance_schema/table_io_waits_s_107.sdi
implementation/data/mysql/performance_schema/table_io_waits_s_108.sdi
implementation/data/mysql/performance_schema/table_lock_waits_109.sdi
implementation/data/mysql/performance_schema/threads_110.sdi
implementation/data/mysql/performance_schema/tls_channel_stat_190.sdi
implementation/data/mysql/performance_schema/user_defined_fun_188.sdi
implementation/data/mysql/performance_schema/user_variables_b_176.sdi
implementation/data/mysql/performance_schema/users_144.sdi
implementation/data/mysql/performance_schema/variables_by_thr_183.sdi
implementation/data/mysql/performance_schema/variables_info_186.sdi
implementation/data/mysql/sys/sys_config.ibd
implementation/data/mysql/binlog.000003
implementation/data/mysql/binlog.000004
implementation/data/mysql/binlog.000005
implementation/data/mysql/ibtmp1
implementation/data/mysql/#innodb_temp/temp_1.ibt
implementation/data/mysql/#innodb_temp/temp_2.ibt
implementation/data/mysql/#innodb_temp/temp_3.ibt
implementation/data/mysql/#innodb_temp/temp_4.ibt
implementation/data/mysql/#innodb_temp/temp_5.ibt
implementation/data/mysql/#innodb_temp/temp_6.ibt
implementation/data/mysql/#innodb_temp/temp_7.ibt
implementation/data/mysql/#innodb_temp/temp_8.ibt
implementation/data/mysql/#innodb_temp/temp_9.ibt
implementation/data/mysql/#innodb_temp/temp_10.ibt
implementation/implementation/frontend/node_modules/*