
# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
implementation/api/venv/
.env

# Logs
implementation/api/logs/
*.log

# Data
implementation/data/
*.db

# Tests
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/
